<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.0.4/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/0.9.0/angularfire.min.js"></script>
    <script src="//popping-fire-4005.firebaseapp.com/scripts/snowball.js"></script>
	<link rel="stylesheet" href="css/snowman.css" type="text/css" />
  </head>
  <body ng-app="Snowball">
    <audio>
      <source id="lose" src="scripts/audio/melt.wav" type="audio/wav">
    </audio>
    <audio>
      <source id="win" src="scripts/audio/back.wav" type="audio/wav">
    </audio>
    <div id="temp" ng-controller="TemperatureController">
      <div style="position: absolute;">
        <h1>Snowball Life Support</h1>
        <h3>Temperature: {{data.temp}}</h3>
        <p>Wins: {{data.wins}}
        Losses: {{data.losses}}</p>
        <button style="font-size: 2em; background-color: red; color: white;" ng-click="warm()">Warmer</button>
        <button style="font-size: 2em; background-color: blue; color: white;" ng-click="cool()">Cooler</button>
      </div>
    <center>
      <div class="head">
        <div class="circlehead size-{{scalar}}"></div>
        <div class="hattop size-{{scalar}}"></div>
        <div class="hatbottom size-{{scalar}}"></div>
        <div class="circleeyel size-{{scalar}}"></div>
        <div class="circleeyer size-{{scalar}}"></div>
        <div class="circlemouth1 size-{{scalar}}"></div>
        <div class="circlemouth2 size-{{scalar}}"></div>
        <div class="circlemouth3 size-{{scalar}}"></div>
        <div class="circlemouth4 size-{{scalar}}"></div>
        <div class="circlemouth5 size-{{scalar}}"></div>
        <div class="circlespark1 size-{{scalar}}"></div>
        <div class="circlespark2 size-{{scalar}}"></div>
        <div class="nose size-{{scalar}}"></div>
      </div>
      <div class="circlebelly size-{{scalar}}"></div>
      <div class="circlebottom size-{{scalar}}"></div>
      <div class="circlearmleft size-{{scalar}}"></div>
      <div class="circlearmright size-{{scalar}}"></div>
      <div class="scarf1 size-{{scalar}}"></div>
      <div class="scarf2 size-{{scalar}}"></div>
    </center>
    </div>
  </body>
</html>
